.second-screen {
  .top-content {

    &-container {
      padding: 0 30px;
      flex-direction: column;
    }

    &__date {
      align-self: flex-end;
      margin-right: auto;
    }

    &__date-wrapper {
      display: flex;
      align-items: center;
      gap: 44px;

      p, span {
        color: rgb(255, 255, 255);
        font-size: 45px;
        font-weight: 400;
        line-height: 53px;
      }
    }

    &__date-img {
      width: 60px;
      height: 60px;

      img {
        width: 100%;
        height: 100%;
      }
    }

  }
}
