.table {
  &__head {
    height: 250px;
    border-bottom: 5px solid rgb(255, 193, 7);
    background: rgb(39, 39, 58);
  }

  &__head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
		padding-left: 196px;
  }

  &__head-item {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 22px;
    height: 100%;
    justify-content: center;

    &:not(:first-child) {
      border-left: 3px solid rgb(255, 193, 7);
    }
  }

  &__head-item-img {
    max-width: 100px;
    width: 100%;
    max-height: 100px;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__head-item-text {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    text-transform: uppercase;
  }

  &__absolute-hall-column {
    width: 440px;
    height: 100%;

    &:first-child {
      width: 448px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 192px;
    max-width: 1328px;
    margin-left: auto;
    position: relative;

    &.table__item-abs {
      position: relative;
      height: 50px;

      &.is-abs {
        min-height: 137px;
        height: auto;

        .table__item-column {
          height: auto;
          min-height: 193px;
          position: relative;

          &:not(:last-child) {
            &::after {
              content: '';
              position: absolute;
              right: -2.5px;
              bottom: -18px;
              height: 19px;
              background: rgb(255, 193, 7);
              width: 3px;
            }
          }
        }

        .table__absolute-hall {
          width: 400px;
          height: 65px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-left: 10px solid rgb(255, 193, 7);
          border-radius: 10px;
          background: rgb(39, 39, 58);
          margin-left: auto;
          z-index: 2;

          &--fill {
            width: calc(100% - 128px);
            margin-left: 128px;
          }

          &:not(:last-child) {
            margin-bottom: 3px;
          }
        }

        .table__absolute-hall-title {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: nowrap;
          width: 340px;
        }
      }
    }
  }

  &__absolute-hall-title {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    align-self: center;
    text-align: left;
    width: 100%;
    margin-left: 32px;
    display: none;
  }

  &__item-column-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -18px;
		//z-index: 1;
  }

  &__item-column {
    width: 400px;
    height: 193px;
    position: relative;

    &:first-child {
      width: 448px;
    }

    &:not(:first-child) {
      border-left: 3px solid rgb(255, 193, 7);
      width: 400px;
    }
  }

  &__item-time {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    display: flex;
    align-items: center;
    gap: 44px;
		z-index: 0;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: rgb(255, 193, 7);
    }
  }

  &__card {
    position: absolute;
    max-width: 360px;
    width: 100%;
    background: #27273a;
    top: 3px;
    right: 32px;
    z-index: 2;
    padding: 16px 14px;
    border-left: 10px solid rgb(255, 193, 7);
    border-radius: 10px;

    &--fill {
      max-width: none;
      width: calc(100% + 732px);
      right: auto;
      left: 55px;
      background: #383855;
      z-index: 0;
    }

    &--half {
      width: 222px;
      right: 3px;
      padding: 14px;

      .table__card-day-des-wrapper {
        display: none;
      }
    }

    &--half-fill {
      padding-left: 14px;
      z-index: 1;

      .table__card-wrapper {
        text-wrap: balance !important;
      }
    }
  }

  &__card-wrapper {
    height: 100%;
    &.medium {
      max-width: 550px;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      .table__card-day-type {
        max-width: 550px;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &.small {
      max-width: 220px;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      .table__card-day-type {
        max-width: 220px;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &.half {
      max-width: 160px;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      .table__card-day-type {
        max-width: 160px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &.fill-half {
      max-width: 120px;
      text-wrap: wrap;

      .table__card-day-type {
        max-width: 120px;
      }
    }
  }

  &__card-time-range {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 400;
    line-height: 35px;
  }

  &__card-day-type {
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-weight: 700;
    line-height: 35px;
    text-align: start;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;

    &--no-standard-height {
      position: absolute;
      white-space: nowrap;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      max-width: calc(100% - 50px);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__card-time-range {
    padding-bottom: 10px;
    text-align: start;
  }

  &__card-day-des-wrapper {
    padding-top: 28px;
  }

  &__card-day-des {
    text-align: start;
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-weight: 400;
    line-height: 35px;
  }
}
